@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Space+Mono&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bold {
  font-weight: 700;
}

img {
  height: 300px;
  width: 300px;
}

.title-text {
  text-align: center;
  padding-top: 20px;
}

.app {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app .search {
  text-align: center;
  padding: 1rem;
}

.app input {
  padding: .7rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 25px;
  border: 1px solid rgba(255,255,255, 0.8);
  background: rgba(255,255,255, 0.1);
  color: #f8f8f8;
}

::placeholder {
  color: #f8f8f8;
}

.description {
  padding-bottom: 30px;
  width: 550px;
}

.ingredients {
  padding-bottom: 30px;
}

.top {
  padding: 0 20px;
}

.bottom {
  display: flex;
  flex-direction: row;
  gap: 170px;
}

.container {
  display: flex;
  align-items: center;
  padding-bottom: 100px;
}
